/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* General */

*{
    margin:0;
    scroll-behavior: smooth;
}

:root{
    /* Fonts */
    --titlefont:"Gloria Hallelujah", serif;
    --textfont:"Noto Sans", serif;
    --footerfont:"Roboto", serif;
    /* colors */
    --red:#cc3900;
    --pink:#fbbbcd;
}
h2{
    font-family: var(--titlefont);
    font-size: 45px;
}
h3{
    font-family: var(--titlefont);
    font-size: 28px;
}
h4{
    font-family: var(--titlefont);
    font-size: 25px;
    text-align: center;
}
h5{
    font-family: var(--textfont);
    font-size: 14px;
    padding: 20px 0;
}
p,
a,
ul{
    font-family: var(--textfont);
    text-decoration: none;
    transition: all 0.2s ease;
    list-style: none;
    color: black;
}
img{
    width: 100%;
}
i{
    color: var(--red);
    font-size: x-large;
}
.btn{
    display: block;
    width: fit-content;
    background-color: #fff;
    padding: 8px 12px ;
    border: 1px solid var(--pink);
    font-weight: 600;
}
.btn:hover{
    background-color: var(--pink);
}
.container-1440{
    max-width: 1440px;
    margin: auto;
    padding: 0 10px;
}
.active{
    color: var(--red);
}

/* Header */
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
header nav ul{
    gap: 20px;
    display: flex;
    font-weight: 600;
    padding-left: 0;
}
header img{
    width: 180px;
}
#burgermenu{
    display: none;
}
/* Section 1 : Bienvenue */
#bienvenue article>div{
    display: grid;
    grid-template-columns: 50px 1fr;
    color: var(--red);
    font-family: var(--textfont);
    text-transform: uppercase;
    gap: 30px;
}
#bienvenue{
    background: url(../img/favicon.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
    background-position-x: 101%;
}
#bienvenue>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 400px;
}
#bienvenue img{
    width: 70%;
    justify-self: right;
}
#bienvenue hr{
    width: 50px;
    background-color: var(--red);
    height: 1px;
    margin: 10px;
}
#bienvenue p{
    margin: 30px 0;
}
#bienvenue a{
    border: 1px solid var(--pink);
}

/* Section 2: A propos */

#apropos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0;
}
#apropos #article1{
    background-color: var(--pink);
    padding: 100px;
}
#apropos h2{
    margin-bottom: 60px;
}
#apropos #article1 p:nth-child(2),
#apropos #article1 p:nth-child(3){
    margin-bottom: 20px;
}
#apropos #article1 p{
    font-size: 18px;
}
 #apropos #article2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
    padding:15px;
}
#apropos img{
    object-fit: cover;
    height: 400px; 
    width: 100%;
    object-fit: cover;
}
#apropos #article2 img:nth-child(5){
    grid-column: 1/3;
}
#apropos #article2 img:nth-child(6){
    grid-column: 3/5;
}
#apropos #article2 p{
    text-decoration: underline;
}

/* Section 3 : Oeuvres */

#oeuvres{
    max-width: 1440px;
    margin: auto;
}
#oeuvres>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#oeuvres a{
    border: 1px solid var(--pink);
}
#oeuvres div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
#oeuvres img{
    margin: auto;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Section 4 : Artistes */

#artistes{
    margin: auto;
    background-color: #F7F7F7;
    padding: 100px 0;
}
#artistes h2{
    text-align: center;

}
#artistes img{
    height: 300px;
    object-fit: cover;
    margin: auto;
}
#artistes #div1,
#artistes #div2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
}
#artistes article>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#artistes a.btn{
    border: 1px solid var(--pink);
}
#artistes p{
    padding: 20px 0;
}

/* Section 5 : Actualités */

#actualités{
    max-width: 1440px;
    margin: auto;
    padding: 100px 0;
}
#actualités div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
#actualités a{
    font-weight: 600;
}
    
#actualités div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: baseline;
}
#actualités img{
    object-fit: cover;
}
#actualités p{
    height: 100px;
}
/* Section 6 : Contact */

#contact{
    background-color: var(--red);
    padding: 100px 0;
}
#contact div{
    max-width: 780px;
    margin: auto;
    text-align: center;
    color: white;
}
#contact p{
    margin: 50px;
    font-size: 18px;
    color: white;
}
#contact a{
    background-color: var(--red);
    color: #fff;
    border: 1px solid white;
    margin: auto;
}
#contact a:hover{
    background-color: white;
    color: var(--red);
}

/* Footer */

footer img{
    width: 180px;
    margin: 10px 0;
}
footer #div1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer nav ul{
    gap: 20px;
    display: flex;
    font-weight: 600;
    padding: 0;
}
/* footer nav ul li:nth-child(1) a{
    color: var(--red);
} */
footer>div{
    text-align: center;
}
footer>div p{
    margin-top: 20px;
}

/* Menu responsive index */
/* Responsive TABLETTE */

@media screen and (max-width:1024px) {
#bienvenue {
    padding: 0 30px;
    height: 700px;
    display: flow;
}
#bienvenue img {
    margin: 30px 0;
}
#burgermenu{
    display: flex;
    justify-content: end;
    cursor: pointer;
    padding: 10px;
}
header nav ul li,
footer nav ul li{
    display: none;  
}
#apropos {
    grid-template-columns: 1fr;
}
#oeuvres{
    padding: 10px;
}
#oeuvres div:nth-child(2) {
    grid-template-columns: 1fr;
}
#oeuvres img{
    width: 100%
}
#artistes{
    padding: 10px;
}
#artistes h2 {
    margin-top: 50px;
}
#artistes #div1,
#artistes #div2{
    gap: 5px;
}
#artistes article>div {
    display: flex;
    justify-content: space-around;
}
#actualités {
    padding: 10px;
    margin-top: 50px;
}
}
/* footer flex direction :colun */

/* Responsive TELEPHONE */
@media screen and (max-width:767px){
header #icones{
    display: none;
}
h2{
    font-size: 30px;
}
#bienvenue img{
    width: 100%;
}
#apropos #article1 {
    padding: 10px;
}
#artistes #div1, 
#artistes #div2,
#actualités div:nth-child(2) {
    grid-template-columns: 1fr;
}
#contact{
    padding: 10px;
}
footer #icones{
    display: none;
}
footer{
    font-size: 8px;
}
}

/* Page contact */
#pagecontact header nav ul li:nth-child(1) a,
#pagecontact footer nav ul li:nth-child(1) a{
    color: black;
}

#pagecontact header nav ul li:nth-child(6) a,
#pagecontact footer nav ul li:nth-child(6) a{
    color: var(--red);
}

#pagecontact main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    margin: auto;
    padding: 50px;
}
#pagecontact main p{
    margin-bottom: 40px;
}
#pagecontact main #coordonées p{
    font-family: var(--titlefont);
    font-size: 20px;
}
#pagecontact main #article2{
    margin: 50px;
    /* padding: 50px; */
    background-image: url(../img/favicon.png);
    background-repeat: no-repeat;
    /* height: 500px; */
}
input, textarea{
    font-family: var(--textfont);
    line-height: 20px;
    border: 1px solid #818A91;
    padding: 5px;
}
/* mettre le font sur le form avec un grid + padding et margin bottom */
#article2>div{
    display: grid;
    gap: 10px;
    padding: 10px;
    font-size: 18px;
}
#pagecontact input[type=Submit] {
    font-size: 16px;
    font-weight: 500;
    padding:12px 270px;
    font-family: var(--textfont);
    color: white;
    background-color: var(--pink);
    border:1px solid var(--white-color);
    transition: all 0.2s ease;
    cursor: pointer;
}

#pagecontact input[type=Submit]:hover{
    background-color: white;
    color: var(--pink);
    border:1px solid #818A91;
}
/* Menu responsive contact */
/* Responsive TABLETTE */

@media screen and (max-width:1024px) {
#pagecontact main {
    grid-template-columns: 1fr;
    }
/* #pagecontact main p {
    max-width: 320px;    widt 100% ??
} */
}
/* Responsive TELEPHONE */

@media screen and (max-width:767px){

#pagecontact main #article2{
    display: block;
    grid-column: 1 / 3;
    margin: 0;
    background: none;
}
#pagecontact #Envoyer {
    padding: 12px 70px;
}
}